.about-container {
  width: 95%;
  margin: auto;
}

.about-picture {
  width: 95%;
  margin: auto;
  text-align: center;
}

.about-div {
  padding-top: 25px;
}

.about-img {
  max-width: 80%;
  height: auto;
}

.about-text {
  font-size: large;
  max-width: 66%;
  padding-left: 20px;
}
