.services-container {
  width: 30%;
  margin: 15% auto;
}

.services-container > mat-card-title,
mat-card-subtitle {
  text-align: center;
}

mat-form-field {
  width: 50%;
}

.fees-container {
  text-align: center;
}

.fees-input {
  max-width: 350px;
  min-width: 100px;
}
